.card {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, .9);
  padding: 1.5rem 1.5em;
  border: none;
  transition: .1s ease all;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1.5rem;
  color: $color-dark;
  text-align: left;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    bottom: -30%;
    left: 0;
    transition: .3s ease background-position;
    background-image: radial-gradient(rgba(0, 0, 0, .2) 30%, transparent 70%);
    background-repeat: no-repeat;
    background-size: 130% 50%;
    background-position: 50% -65%;
    pointer-events: none;
  }

  &:active,
  &:hover,
  &:focus { outline: 0; }

  &:hover,
  &:focus {
    background: color($color-medium l(+55%));
    color: color($color-medium l(-20%));
  }

  &:active {
    transform: translateY(2px);
    outline: 0;

    &:after { background-position: 50% -100%; }
  }

  &&--hidden {
    pointer-events: none;
    overflow: hidden;
    font-size: 0;
    margin: 0;
    height: 0;
    opacity: 0;
    padding: 0;
    transform: scale(0);
  }

  &__title {
    display: block;
    margin-bottom: .6em;
    line-height: 1.4;
  }

  &--small {
    font-size: 1.2rem;

    &:after {
      bottom: -50%;
    }
  }
}

.card-meta {
  font-size: .5em;

  &__date { margin-right: 10px; }
  &__time {}
}

