*, *:before, *:after { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Tahoma, sans-serif;
  font-size: 18px;

  background: $color-light;
}

a {
  color: $color-darker;
  text-decoration: none;
}

.input,
.select,
.btn {
  padding: .7em 1em;
  border: 1px solid $color-dark;
  border-radius: 3px;
  font-size: 1em;
  transition: .2s ease all;
  background: #fff;
  color: $color-dark;
  text-decoration: none;

  &:focus {
    outline: 0;
    border-color: $color-complimentary;
    box-shadow: 0 1px 1px 0 color($color-medium l(+ 10%));
  }

  @media screen and (max-width: 500px) {
    font-size: .8em;
  }
}

.select {
  padding: .625em;
}

.btn {
  background: $color-light;
  border: 1px solid $color-medium;
  border-radius: 6px;
  color: $color-medium;
  cursor: pointer;

  &--active {
    background: $color-medium;
    color: $color-light;
    border-color: $color-medium;
  }

  &--lg {
    padding: 1em 2.5em;
    border-radius: 50px;
  }

  &:hover:not(&--active) {
    background: color($color-medium l(+ 50%));
  }
}

