@import './vars';
@import './mixins';

*, *:before, *:after { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;

  @mixin min-width $break-sm {
    font-size: 19px;
  }

  background: $color-background;
}

a {
  color: $color-darker;
  text-decoration: none;
}

.input,
.select,
.btn {
  padding: .5rem 1rem;
  font-size: .9rem;
  font-family: inherit;

  @mixin min-width $break-md {
    padding: .6rem 1.2rem;
    font-size: .9rem;
  }

  border: 1px solid $color-dark;
  border-radius: $border-radius;
  transition: .2s ease all;
  background: $color-btn-background;
  color: $color-btn-text;
  text-decoration: none;

  &:focus {
    outline: 0;
  }
}

.select {
  padding: .625em;
}

.btn {
  background: $color-btn-background;
  color: $color-btn-text;
  border: 1px solid $color-btn-border;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;

  &--active {
    background: $color-btn-background--active;
    color: $color-btn-text--active;
    border-color: $color-btn-border--active;
  }

  &--lg {
    padding: 1em 2.5em;
    border-radius: 50px;
  }

  &--as-link,
  &--as-link:hover {
    padding: .2rem;
    border: 0;
    color: $color-text;
    text-transform: none;
    font-size: 1rem;
  }

  &:focus {
    background: color($color-btn-background--active alpha(-40%) l(+20%));
  }

  &:hover:not(&--active) {
    background: color($color-btn-background--active alpha(-80%));
  }
}
