@import './vars';
@import './mixins';

.blog {
  &-posts-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    text-align: right;
    font-size: .9em;
    color: $color-medium;
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;

    @mixin media-query $break-xs {
      font-size: .6em;
    }

    input {
      padding: .2em;
      background: color($color-light l(-8%));
      text-align: center;
      border: 0;
      font-size: inherit;
      font-family: inherit;
      transition: .1s ease-out width;

      &:focus {
        outline: 0;
        background: color($color-light l(-12%));
      }
    }
  }

  &-post-card-meta {
    color: color($color-medium alpha(-5%));
    font-size: 1em;

    &__date { margin-right: 10px; }
  }
}

.blog-posts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em;

  @mixin media-query $break-xs {
    padding: 1em;

    .card {
      padding: 1em;
      margin-bottom: 2em;
      font-size: .8em;
    }
  }

  .card {
    margin-bottom: 2em;
  }
}

.blog-post {
  position: relative;
  padding: 1em 2em;
  font-size: 1em;
  color: $color-darker;

  @mixin media-query $break-xs {
    padding: 1em;
  }

  &__back-btn {
    position: absolute;
    left: 1em;
    top: 1em;
    padding: .5em 1em;
    border: 0;
    color: color($color-dark l(+10%));

    @mixin media-query $break-xs {
      top: 1.6em;
      font-size: .7em;
    }

    &:before {
      content: "<";
      margin-right: 10px;
    }
  }

  &--loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 600px;
    padding: 3em 0;
    font-size: 2em;
    font-weight: 300;
    color: $color-medium;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 10%;
      bottom: 0;
      left: 10%;
      background-image: linear-gradient(90deg, transparent, color($color-light alpha(-30%)) 50%, transparent 100%);
      background-position: 0 0;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      animation: blogPostLoading 1s ease-out infinite;
      pointer-events: none;
    }
  }

  hr {
    border: 15px dashed color($color-light l(-5%));
    margin: 3em -2em;

    @mixin media-query $break-xs {
      border-width: 5px;
    }
  }
}

@keyframes blogPostLoading {
  to { background-position: 150% 0; }
}

.blog-post-content {
  color: $color-dark;

  h1 {
    margin: 1.5em 0;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.5;

    @mixin media-query $break-xs {
      font-size: 1.5em;
    }
  }

  h2 {
    font-weight: 400;
    font-size: 1.8em;
  }

  p {
    margin-bottom: 2em;
    text-align: justify;
    line-height: 1.7;

    @mixin media-query $break-xs {
      font-size: .9em;
    }
  }

  ul,
  ol {
    padding: 0;
    list-style: none;

    li {
      padding: 1em;
      margin-bottom: .5em;
      line-height: 1.7;
      background: color($color-light l(-5%));

      @mixin media-query $break-xs {
        font-size: .8em;
      }

      &:nth-child(2n) {
        background: color($color-light l(-7%));
      }
    }
  }

  ol {
    padding: 0 0 0 2em;
    counter-reset: post-ol-counter;

    li {
      position: relative;

      &:before {
        position: absolute;
        content: counter(post-ol-counter, upper-latin);
        counter-increment: post-ol-counter;
        top: 0;
        left: -45px;
        height: 100%;
        font-size: 2em;
        color: color($color-light l(-15%));

        @mixin media-query $break-xs {
          left: -40px;
          font-size: 1.8em;
        }
      }
    }
  }

  pre {
    display: block;
    margin: 2em -2em;
    padding: 2em;
    background: color($color-light l(-9%));

    @mixin media-query $break-xs {
      margin: 2em -1em;
      font-size: .8em;
      padding: 1em;
    }

    code { border: 0; }
  }

  code {
    padding: .2em .5em;
    border: 1px solid $color-light;
    border-radius: 4px;
    background: color($color-light l(-9%));
    font-family: monospace;
    font-size: .8em;
    line-height: 1.7;
  }

  a {
    @mixin text-shadow $color-medium, $color-light;
  }

  img {
    display: block;
    margin: 2em auto;
    max-width: 100%;
    height: auto;
  }
}

.blog-post-meta {
  margin: .6em 0 2em;
  text-align: right;

  @mixin media-query $break-xs {
    font-size: .7em;
  }

  &__date,
  &__time {
    color: color($color-medium alpha(-30%));
    margin-bottom: .5em;
  }

  &__date { margin-right: 15px; }
}

