.blog {
  &-posts-filter {
    margin: 2em;
    text-align: right;

    .input { margin-left: .5em; }
  }

  &-posts-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2em;
  }

  &-post-card {
    flex: 1 0 100%;
    position: relative;
    min-height: 120px;
    margin-bottom: 1em;
    background: transparent;
    padding: 1em;
    border: 1px solid $color-medium;
    transition: .1s ease all;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background: color($color-medium l(+50%));
      color: $color-light;
    }

    &__title {
      display: block;
      font-size: 2em;
      color: $color-dark;
    }
  }

  &-post-card-meta {
    color: color($color-medium alpha(-5%));
    font-size: 1em;

    &__date { margin-right: 10px; }
  }
}

.blog-post {
  position: relative;
  padding: 1em 2em;
  font-size: 1em;
  color: $color-darker;

  &__back-btn {
    position: absolute;
    left: 0;
    top: 1em;
    perspective-origin: right;
    transform: translate(-100%);
    padding: 1em;
    border-radius: 50px 0 0 50px;
    border: 0;
    color: color($color-dark l(+10%));

    &:before {
      content: "<";
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 1000px) {
    &__back-btn { transform: translate(0); }
  }
}

.blog-post-content {
  color: $color-darker;

  h1 {
    margin: 1.5em 0;
    font-weight: 300;
    font-size: 2.5em;
  }

  p {
    line-height: 2em;
    margin-bottom: 2em;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    padding: 1em;
    margin-bottom: .5em;
    line-height: 2em;
    background: color($color-light l(-5%));

    &:nth-child(2n) {
      background: color($color-light l(-7%));
    }
  }

  code {
    padding: .2em .5em;
    border: 1px solid $color-light;
    border-radius: 4px;
    background: color($color-light l(-9%));
    font-family: monospace;
    font-size: .9em;
  }

  hr {
    border: 15px dashed color($color-light l(-5%));
    margin: 3em -2em;
  }

  a:not(::selected) {
    @mixin text-shadow $color-medium, $color-light;
  }

  img {
    display: block;
    margin: 2em auto;
    max-width: 100%;
    height: auto;
  }
}

.blog-post-meta {
  margin: 1em 0 2em;
  text-align: right;

  &__date,
  &__time {
    color: color($color-medium alpha(-50%));
    margin-bottom: .5em;
  }

  &__date { margin-right: 15px; }
}

