.blog {
  &-posts-filter {
    margin: 2em;
    text-align: right;

    .input { margin-left: .5em; }
  }

  &-post-card-meta {
    color: color($color-medium alpha(-5%));
    font-size: 1em;

    &__date { margin-right: 10px; }
  }
}

.blog-posts-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2em;

  .card {
    margin-bottom: 1.5em;
  }
}

.blog-post {
  position: relative;
  padding: 1em 2rem;
  font-size: 1em;
  color: $color-darker;

  &__back-btn {
    position: absolute;
    left: 0;
    top: 1em;
    transform: translate(-100%);
    padding: 1em;
    border-radius: 50px 0 0 50px;
    border: 0;
    color: color($color-dark l(+10%));

    &:before {
      content: "<";
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 1000px) {
    &__back-btn {
      transform: translate(0);
      border-radius: 0 50px 50px 0;
    }
  }

  &--loading {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 3em 0;
    font-size: 2em;
    font-weight: 300;
    color: $color-medium;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 10%;
      bottom: 0;
      left: 10%;
      background-image: linear-gradient(90deg, transparent, color($color-light alpha(-30%)) 50%, transparent 100%);
      background-position: 0 0;
      background-size: 50% 100%;
      background-repeat: no-repeat;
      animation: blogPostLoading 1s ease-out infinite;
      pointer-events: none;
    }
  }

  hr {
    border: 15px dashed color($color-light l(-5%));
    margin: 3em -2em;
  }
}

@keyframes blogPostLoading {
  to { background-position: 150% 0; }
}

.blog-post-content {
  color: $color-darker;

  h1 {
    margin: 1.5em 0;
    font-weight: 300;
    font-size: 2.5em;
  }

  h2 {
    font-weight: 400;
    font-size: 1.8em;
  }

  p {
    margin-bottom: 2em;
    text-align: justify;
    line-height: 2em;
  }

  ul,
  ol {
    padding: 0;
    list-style: none;

    li {
      padding: 1em;
      margin-bottom: .5em;
      line-height: 2em;
      background: color($color-light l(-5%));

      &:nth-child(2n) {
        background: color($color-light l(-7%));
      }
    }
  }

  ol {
    padding: 0 0 0 2em;
    counter-reset: post-ol-counter;

    li {
      position: relative;

      &:before {
        position: absolute;
        content: counter(post-ol-counter, upper-latin);
        counter-increment: post-ol-counter;
        left: -45px;
        font-size: 2em;
        color: color($color-light l(-15%));
      }
    }
  }

  pre {
    display: block;
    margin: 2rem -2rem;
    padding: 2rem;
    background: color($color-light l(-9%));

    code { border: 0; }
  }

  code {
    padding: .2em .5em;
    border: 1px solid $color-light;
    border-radius: 4px;
    background: color($color-light l(-9%));
    font-family: monospace;
    font-size: .8em;
    line-height: 1.7;
  }

  a {
    @mixin text-shadow $color-medium, $color-light;
  }

  img {
    display: block;
    margin: 2em auto;
    max-width: 100%;
    height: auto;
  }
}

.blog-post-meta {
  margin: 1em 0 2em;
  text-align: right;

  &__date,
  &__time {
    color: color($color-medium alpha(-50%));
    margin-bottom: .5em;
  }

  &__date { margin-right: 15px; }
}

