@import "vars.css";
@import "base.css";

.blog-wrapper {
  max-width: 750px;
  margin: 0 auto;
}

.blog-head {
  position: relative;
  padding: 2rem;
  background: $color-light;
  color: $color-dark;
  box-shadow: 0 1rem 30px rgba(0,0,0,.1);

  h1 {
    margin: 0;
  }

  &__github {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 1rem;

    a {
      color: $color-medium;
      text-decoration: none;
    }
  }
}

.blog-nav {
  display: flex;
  justify-content: center;
  padding: 4rem 0;

  &__btn {
    margin: 0 .5rem;
    padding: 1rem 2.5rem;
  }
}

.blog {
  &-posts-filter {
    margin: 2rem;
    text-align: right;

    .input { margin-left: .5rem; }
  }

  &-posts-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem;

    .blog-post-card { flex: 0 0 49%; }
  }
}

.blog-post-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid $color-medium;
  transition: .1s ease all;
  text-decoration: none;
  border-radius: 3px;

  &:hover {
    background: $color-medium;
    color: $color-light;
  }
}

.blog-content {
  position: relative;
  background: $color-light;
  border-top: 5px solid $color-medium;
  margin-bottom: 10vh;
  box-shadow: 0 100px 300px 0 rgba(0,0,0,.2);

  &__cog {
    $num-cogs: 4;
    $cog-size: 200px;
    $cog-color: color($color-light l(-10%) alpha(-50%));

    &:before,
    &:after {
      position: absolute;
      display: block;
      left: calc(-$cog-size / 2);
      top: calc(-$cog-size / 2);
      width: calc($cog-size);
      height: calc($cog-size);
      box-shadow: 0 0 0 calc($cog-size / 10) $cog-color inset;
      border: calc($cog-size / 15) dotted $cog-color;
      border-radius: 50%;
      content: '';
      transform: rotate(0deg);
      animation: blogContentCog 120s linear infinite;
      z-index: -1;
    }

    &:after {
      width: calc($cog-size / 2);
      height: calc($cog-size / 2);
      top: calc(-$cog-size / 4);
      border: 10px dotted $cog-color;
      box-shadow: 0 0 0 calc($cog-size / 16) $cog-color inset;
      animation-direction: reverse;
      animation-delay: -5s;
    }

    @for $i from 0 to $num-cogs {
      &--$i:before {
        left: calc($cog-size * $i + $cog-size * $i / 2 - 25%);
      }

      &--$i:after {
        left: calc($cog-size + $cog-size * $i + $cog-size * $i / 2 - 25%);
      }
    }

    &--bottom:before {
      top: auto;
      bottom: calc(-$cog-size / 2);
    }

    &--bottom:after {
      top: auto;
      bottom: calc(-$cog-size / 4);
    }
  }
}

@keyframes blogContentCog {
  to { transform: rotateZ(360deg); }
}

.blog-post {
  position: relative;
  padding: 1rem 2rem;

  &__back-btn {
    position: absolute;
    left: 0;
    top: 3rem;
    perspective-origin: right;
    transform: translate(-100%);
    padding: 1rem;
    border-radius: 50px 0 0 50px;
    border: 0;
    color: color($color-dark l(+10%));

    &:before {
      content: "<";
      margin-right: 10px;
    }
  }
}

