@import "vars.css";
@import "base.css";

.blog-head {
  position: relative;
  padding: 1rem;
  background: $color-light;
  color: $color-dark;

  &__github {
    position: absolute;
    top: 10%;
    right: 5%;

    a {
      color: $color-medium;
      text-decoration: none;
    }
  }
}

.blog-post-card {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid $color-medium;

  &:hover {
    background: $color-medium;
  }
}

