@import "_vars.scss";

*, *:before, *:after { box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: Tahoma;
}

a {
  color: $color-darker;
}

.blog-head {
  position: relative;
  padding: 1rem;
  background: $color-light;
  color: $color-dark;

  &__github {
    position: absolute;
    top: 10%;
    right: 5%;

    a {
      color: $color-medium;
      text-decoration: none;
    }
  }
}

