@define-mixin text-shadow $text-color, $shadow-color {
  color: $text-color;
  text-decoration: none;
  box-shadow: 0 -1px 0 0 $shadow-color inset,
              0 -2px 0 0 $text-color inset;
  text-shadow: 1px 0 0 $shadow-color,
               2px 0 0 $shadow-color,
               3px 0 0 $shadow-color,
               -1px 0 0 $shadow-color,
               -2px 0 0 $shadow-color,
               -3px 0 0 $shadow-color;
}

@define-mixin media-query $query {
  @media only screen and $query {
    @mixin-content;
  }
}

@define-mixin min-width $breakpoint {
  @mixin media-query (min-width: $breakpoint) {
    @mixin-content;
  }
}

@define-mixin max-width $breakpoint {
  @mixin media-query (max-width: $breakpoint) {
    @mixin-content;
  }
}

