@import './vars.css';
@import './mixins.css';

.page-wrapper {
  max-width: 900px;
  margin: 0 auto;

  @mixin min-width $break-md {
    margin: 5rem auto;
  }
}

.page-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0 5px;
  border-radius: $border-radius $border-radius 0 0;
  background-image: radial-gradient(
    color($color-content l(-20%) s(-20%)),
    color($color-content l(-0%))
  );
  background-size: 100% 800%;
  border-bottom: 1px solid color($color-content alpha(-20%));
  transition: .2s ease-out all;


  @mixin min-width $break-md {
    opacity: .9;
    padding: 1.5rem 2rem;
  }

  &:hover {
    opacity: 1;

    &:after {
      background-position: 0 40px;
    }
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      transparent 60%,
      color($color-bg alpha(-90%))
    );
    background-size: 100% 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    pointer-events: none;
    content: ' ';
    transition: .2s ease-out all;
  }

  p { margin-bottom: 0; }
}

.page-title {
  font-size: 1rem;
  font-weight: 400;

  @mixin min-width $break-sm {
    font-size: 1.2rem;
  }

  @mixin min-width $break-md {
    font-size: 1.4rem;
  }

  h2 {
    margin: 0;
    font-weight: 600;
    color: color($color-text alpha(-20%));
  }

  p {
    font-size: .8em;
    color: $color-text;
    font-weight: 400;
  }
}

.page-nav {
  &__btn {
    display: block;
    margin: 0 0 .8rem auto;
    padding: .5rem 1rem;
    border-radius: $border-radius; 
    font-size: .8rem;

    @mixin min-width $break-xs {
      display: inline-block;
      margin: 0 1rem 0 0;
      padding: .7rem 1.4rem;
    }

    @mixin min-width $break-md {
      font-size: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-content {
  background: $color-content;
  border-radius: $border-radius $border-radius;
}

.page-footer {
  padding: 1rem;
  margin: 0 5px;
  margin-bottom: 3rem;
  font-size: .8rem;
  color: $color-text;
  background: $color-content;
  border-radius: 0 0 $border-radius $border-radius;
  opacity: .5;

  @mixin min-width $break-md {
    padding: 1rem 2rem;
    text-align: right;
    font-size: .9rem;
  }
}

