@import './vars.css';
@import './mixins.css';

.page-wrapper {
  max-width: 900px;
  margin: 0 auto;

  @mixin min-width $break-md {
    margin: 5rem auto;
  }
}

.page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 9px 9px 0 0;
  border-bottom: 10px solid $color-highlight;
  background: $color-content;
  box-shadow:
    0 5px 150px 0 rgba(0,0,0,.2);

  @mixin min-width $break-md {
    padding: 2rem;
  }
}

.page-title {
  font-size: 1rem;

  @mixin min-width $break-sm {
    font-size: 1.2rem;
  }

  @mixin min-width $break-md {
    font-size: 1.4rem;
  }

  h2 {
    margin: 0;
    font-weight: 400;
  }

  p {
    font-size: .8em;
  }
}

.page-nav {
  &__btn {
    display: block;
    margin: 0 0 .8rem auto;
    padding: .5rem 1rem;
    border-radius: 9px;
    font-size: .9rem;

    @mixin min-width $break-md {
      padding: .7rem 1.2rem;
      font-size: 1rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.page-content,
.page-footer {
  color: $color-text;
  background: $color-content;
  box-shadow: 0 100px 400px 0 color($color-background l(+5%));
}

.page-content {
  margin-bottom: 4em;
  border-radius: 0 0 9px 9px;
}

.page-footer {
  padding: 2em;
  text-align: center;
  margin-bottom: 3rem;
  font-size: .9em;
  color: $color-medium;
  border-radius: 9px;
  opacity: .8;

  a:not(::selected) {
    @mixin text-shadow $color-medium, $color-medium;
  }
}

