$color-bg: #3b3137;
$color-fg: #c6c2ba;

$color-background: $color-bg;
$color-content: $color-fg;

$color-text: $color-bg;
$color-link: $color-bg;

$color-btn-background: transparent;
$color-btn-text: $color-bg;
$color-btn-border: $color-bg;
$color-btn-background--active: color($color-bg alpha(-15%));
$color-btn-text--active: color($color-btn-text l(+70%) s(-40%));
$color-btn-border--active: $color-btn-border;

$color-li-background: color($color-content l(-3%));
$color-li-counter: color($color-content l(-30%));

$color-code-text: color($color-text l(+65%) s(-20%));
$color-code-background: color($color-bg l(+10%) s(-2%));

$color-dark: #1f4504;
$color-darker: #001d06;
$color-medium: #5a7840;
$color-light: #e9f1f4;
$color-complimentary: #c0ad76;

$break-xs: 567px;
$break-sm: 567px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

$border-radius: 4px;

/*
 *#F5F3E6
 *#939C9A
 *#C88951
 *#9D5A3A
 *
 */
