$color-background: color(orange l(-45%) s(-70%));
$color-content: color(#bada55 l(+20%) s(-50%));

$color-text: color($color-background s(-45%));
$color-highlight: color($color-content l(-30%));
$color-link: $color-text;

$color-btn-background: transparent;
$color-btn-text: color($color-text l(+20%));
$color-btn-border: $color-btn-text;
$color-btn-background--active: $color-highlight;
$color-btn-text--active: color($color-btn-text l(+70%) s(-40%));
$color-btn-border--active: $color-btn-border;

$color-li-background: color($color-content l(-10%));
$color-li-counter: color($color-content l(-20%));

$color-code-text: color($color-text l(+65%) s(-20%));
$color-code-background: color($color-content l(-50%));

$color-dark: #1f4504;
$color-darker: #001d06;
$color-medium: #5a7840;
$color-light: #e9f1f4;
$color-complimentary: #c0ad76;

$break-xs: 567px;
$break-sm: 567px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
